<script lang="ts">
	import LinkT from '$lib/Tabs/LinkT.svelte';
	import type { LinkProps } from '$lib/Tabs/LinkT.svelte';

	let links: LinkProps[] = [
		{
			title: 'home',
			href: '/'
		},
		{
			title: 'kbd',
			href: '/kbd'
		},
		{
			title: 'Settings',
			href: '/settings'
		}
	];
</script>

<LinkT {links} />

<slot />
