<script context="module" lang="ts">
	export interface LinkProps {
		title: string;
		href: string;
		isDisabled?: boolean;
	}
</script>

<script lang="ts">
	import { tweened } from 'svelte/motion';
	import { cubicOut } from 'svelte/easing';

	import { beforeNavigate } from '$app/navigation';
	import { onMount } from 'svelte';
	import { page } from '$app/stores';

	export let links: LinkProps[];

	let clientWidth: number;

	beforeNavigate((navigation) => {
		if (!navigation?.to) return;
		switchTab(navigation.to);
	});

	function switchTab(url: URL | Location) {
		if (!url) return;
		const el = document.getElementById(url.pathname);
		if (!el) return;
		let { width, left } = el.getBoundingClientRect();
		clientWidth = width;
		transform.set(left - (el?.parentElement?.offsetLeft ?? 0));
	}

	const transform = tweened(0, {
		duration: 400,
		easing: cubicOut
	});

	onMount(() => {
		console.log(window?.location);
		switchTab(window?.location);
	});
</script>

<div class="links">
	<div role="tablist" class="link-list">
		{#each links as link}
			<a
				class="link"
				class:link--active={$page.url.pathname === link.href}
				role="tab"
				href={link.href}
				id={link.href}
				aria-disabled={link.isDisabled}
			>
				{link.title}
			</a>
		{/each}
		<div
			class="selection-bar"
			style={` width:${clientWidth}px; transform: translateX(${$transform}px)`}
		/>
	</div>
</div>

<style>
	.link {
		display: inline-flex;
		padding: 14px 0px;
		text-decoration: none;
		color: #6d7b7a;
		font-weight: 400;
		font-size: 20px;
		line-height: 26px;
	}

	.link--active {
		color: red;
	}
	.link-list {
		position: relative;
		display: flex;
		gap: 16px;
		width: fit-content;
	}
	.links {
		border-bottom: 1px solid #eef4f2;
	}

	.selection-bar {
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: red;
		will-change: width;
		transition: width 0.5s ease;
		height: 3px;
	}
</style>
