<script lang="ts">
	export let highlightType: 'box' | 'underline';

	let tabBoundingBox: DOMRect;
	let wrapperBoundingBox: DOMRect;
	let highlightedTab: typeof tabsData[0] | null;
	let isHoveredFromNull: Boolean;

	let wrapperRef: HTMLElement;

	const tabsData = [
		{
			title: 'Saved sites',
			value: 'sites'
		},
		{
			title: 'Collections',
			value: 'collections'
		},
		{
			title: '48 Following',
			value: 'following'
		},
		{
			title: '32 Followers',
			value: 'followers'
		}
	];

	const repositionHighlight = (e: MouseEvent, tab: typeof tabsData[0]): void => {
		tabBoundingBox = (e.target as HTMLElement).getBoundingClientRect();
		wrapperBoundingBox = wrapperRef.getBoundingClientRect();
		isHoveredFromNull = !highlightedTab;
		highlightedTab = tab;
	};

	$: highlightStylesOpacity = highlightedTab ? 1 : 0;
	$: highlightStylesTransitionDuration = isHoveredFromNull ? '0ms' : '150ms';
	$: highlightStylesWidth = `${tabBoundingBox?.width}px`;
	$: highlightStylesTransform = `translate(${tabBoundingBox?.left - wrapperBoundingBox?.left}px)`;
</script>

<div class="tabs" bind:this={wrapperRef} on:mouseleave={() => (highlightedTab = null)}>
	<div
		class={`tabs-highlight ${highlightType}`}
		style:width={highlightStylesWidth}
		style:opacity={highlightStylesOpacity}
		style:transform={highlightStylesTransform}
		style:transition-duration={highlightStylesTransitionDuration}
	/>
	{#each tabsData as tab}
		<a href="" class="tab" on:mouseover={(evt) => repositionHighlight(evt, tab)}>
			{tab.title}
		</a>
	{/each}
</div>

<style>
	.tabs {
		position: relative;
	}
	.tabs-highlight.box {
		background: hsl(0 0% 90.9%);
		position: absolute;
		top: 9px;
		left: 0;
		border-radius: 4px;
		height: 32px;
		transition: 0.15s ease;
		transition-property: width, transform, opacity;
	}
	.tabs-highlight.underline {
		position: absolute;
		bottom: 9px;
		height: 3px;
		background-color: red;
	}
	.tab {
		padding: 16px 12px;
		font-size: 0.875rem;
		color: hsl(0 0% 43.5%);
		display: inline-block;
		position: relative;
		cursor: pointer;
		transition: color 250ms;
		text-decoration: none;
	}
	.tab:hover {
		color: hsl(0 0% 9%);
	}
</style>
