<script lang="ts">
	export let keys: string[] = [];
</script>

<div class="keys">
	{#each keys as key, index}
		<kbd class="key">
			{key ?? ''}
		</kbd>
		{#if keys.length - 1 > index}
			+
		{/if}
	{/each}
</div>

<style>
	.key:empty {
		display: none;
	}
	.keys {
		display: inline-flex;
		gap: 3px;
		align-items: center;
		height: 1.25rem;
	}
	.key {
		background: rgb(239, 241, 244) none repeat scroll 0% 0%;
		padding-inline: 7px;
		border-radius: 3px;
		text-transform: capitalize;
	}
</style>
